

$colors:(
    "black": #000000,
    "black-1": #141628,
    "blue": #4394e4,
    "danger": #8c201c,
    "white": #ffffff,
    "white-1": #fcfcfc,
    "white-2": #edeff1,
    "primary": #db9e3f,
    "grey": #7a7a80,
    "grey-1": #d4d9de,
    "dark-1": #222222
);
$border-color:map-get($colors,'grey-1');

$space-type:( m: margin, p: padding);
$space-direction:( t: top,r: right,b:bottom,l: left);
$space-level:(0: 0,1: 0.25,2: 0.5,3: 1,4: 1.5,5: 3);
$base-space-level: 1rem;


$font-sizes:(
    xxs: 0.6154, //8px
    xs: 0.7692, //10px
    sm: 0.9231, //12px
    md: 1,
    lg: 1.0769, //14px
    xl: 1.2308, //16px
);
$base-font-size: 1rem;





$flex-jc:(
    start: flex-start,
    end: flex-end,
    center: center,
    around: space-around,
    between: space-between
);


$flex-ai:(
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch
);


$types:('left': left, 'center': center, 'right': right);